* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  /* color: white; */
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #18181B;
     */
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
}


nav {
 
  position: fixed;
  top: 0;
  left: 0;

  padding: 1rem 4%;
  background-color: #111d31;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: white;
  right: 100px;
  left: 100px;
}

.nav-logo {

  font-size: 2rem;
  color: white;

}

.nav-logo a .p {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: white;

}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* .btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
} */

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: #fff;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.container {
  /* max-width: 1200px; */
  margin: auto;
  padding: 5rem 2rem;

}





header {

  margin-top: 91px;
border-bottom: 5px solid #09111e; /* Borda inferior branca */
  
}


header .image {
  position: relative;
}

header .image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #1d4ed8;
  opacity: 0.2;
  z-index: -100;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

header .content {
  margin: 0; /* Remove qualquer margem */
  padding-top: 100px; /* Aumenta o padding superior */
  padding-bottom: 50px; /* Ajusta o padding inferior */
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas */
}

header .content h1, 
header .content p {
  margin: 0; /* Remove margens de ambos */
  padding: 0; /* Remove qualquer padding existente */
}

.content {
  width: 300px;

}

.content h1 {
  font-size: 5rem;

}

.content p font{
  font-size: 1rem;
  font-weight: 500;
  color: yellow;
  margin-bottom: 0px;
  

}

.section-low{
 
  border-bottom: 5px solid #111d31; 
}

section .section-header-low{
  background-color: #09111e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
  text-align: center;
  height: 200px;
 color: white;
 

}
.itens-lista{
  border-top: 5px solid #09111e; 
  background-color: #111d31;
  border-bottom: 5px solid #09111e; 
}

footer {
  background-color: #111d31;
  color: white;
}
.navbar-nav li a{
  color: white;
}

footer p a {
	margin: 5px 15px;
}

.c-item{
height: 500px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);

}